* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: #f4f6f9;
}

/* NAVBAR */
.navbar {
    background: #0a2540;
    padding: 18px 30px;
    color: white;
    font-size: 24px;
    font-weight: 700;
}

/* LAYOUT */
.dashboard {
    display: flex;
    padding: 20px;
}

.left {
    width: 35%;
    background: white;
    padding: 25px;
    border-radius: 18px;
    margin-right: 25px;
    box-shadow: 0px 8px 30px rgba(0,0,0,0.12);
}

.left h1 {
    font-size: 36px;
}

.box p {
    margin: 8px 0;
}

.stat span {
    font-size: 14px;
    color: gray;
}

.stat b {
    display: block;
    font-size: 22px;
    margin-top: 6px;
    color: #000;
}

/* RIGHT PANEL */
.right {
    width: 70%;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 18px;
    margin-bottom: 25px;
    box-shadow: 0px 8px 30px rgba(0,0,0,0.12);
}

/* BUTTON */
.btn {
    background: #0066ff;
    border: none;
    padding: 14px 22px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
}

.btn:hover {
    background: #004ecc;
}

/* GRAPH */
.chart {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
}
