body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: #f4f6f9;
}

/* NAVBAR */
.navbar {
    background: #0a2540;
    padding: 18px 30px;
    color: white;
    font-size: 24px;
    font-weight: 700;
}

/* LAYOUT */
.dashboard {
    display: flex;
    padding: 25px;
}

/* LEFT PANEL */
.left {
    width: 35%;
    background: white;
    padding: 25px;
    border-radius: 18px;
    margin-right: 25px;
    box-shadow: 0px 8px 30px rgba(0,0,0,0.12);
}

.left h3 {
    font-size: 28px;
    font-weight: 800;
    color: #0a2540;
    margin-bottom: 10px;
}

/* PRICE */
.price {
    font-size: 78px;
    font-weight: 900;
    margin: 10px 0;
    color: #000;
}

/* TREND */
.trend {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}

/* STOCK SELECTOR */
.stock-select {
    width: 100%;
    padding: 16px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    border: 2px solid #0a2540;
    background: #eef3f9;
    color: #0a2540;
    margin-bottom: 18px;
}

/* KPI CARDS */
.stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 20px;
}

.stat {
    background: #f4f6f9;
    padding: 18px;
    border-radius: 12px;
    text-align: center;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.05);
}

.stat span {
    font-size: 14px;
    color: gray;
}

.stat b {
    display: block;
    font-size: 22px;
    margin-top: 6px;
    color: #000;
}

/* RIGHT PANEL */
.right {
    width: 65%;
}

/* CARDS */
.card {
    background: white;
    padding: 25px;
    border-radius: 18px;
    margin-bottom: 25px;
    box-shadow: 0px 8px 30px rgba(0,0,0,0.12);
}

/* BUTTON */
.btn {
    background: #0066ff;
    border: none;
    padding: 14px 22px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
}

.btn:hover {
    background: #004ecc;
}

/* GRAPH */
.chart {
    width: 120%;
    max-height: 480px;
    object-fit: contain;
}
